name: Keep API Awake
on:
  schedule:
    - cron: '*/10 * * * *'  # Roda a cada 10 minutos
jobs:
  keep-awake:
    runs-on: ubuntu-latest
    steps:
      - name: Ping API
        run: |
          curl -X GET "https://roommaker.onrender.com/testes/ping"
